.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  border: 3px solid red;
  min-height: 20rem;
  min-width: 13rem;
}

.cardContainer:hover {
  cursor: pointer;
}

.pokemonName {
  border: 3px solid brown;
}
