:root {
  --step-3: clamp(1.944rem, 1.8019rem + 0.7106vi, 2.4414rem);
  --step-5: clamp(2.7994rem, 2.5093rem + 1.4505vi, 3.8147rem);
}

@font-face {
  font-family: pokemonFont;
  src: url(../font-family/pokemon-dp-pro.ttf);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 8rem;
}

.headerOneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeBallPicture {
  width: 90px;
}

.headerOne {
  color: white;
  text-align: center;
  font-size: var(--step-5);
  font-family: pokemonFont;
}

.headerTextContainer {
  display: flex;
  gap: 2rem;
}

.currentScore,
.bestScore {
  font-size: var(--step-3);
  font-family: pokemonFont;
  color: white;
}

.musicButton {
  background-color: transparent;
  border: 1px solid transparent;
  color: #020617;
  font-size: 40px;
  padding-left: 1rem;
}
.musicButton:hover {
  cursor: pointer;
}
