.main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.memoryCardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  min-height: 37.9rem;
  max-width: 90rem;
}
